@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1, h2, h3 {
  font-family: 'Purple Purse', cursive;
}

p, article, span {
  font-family: 'Outfit', sans-serif;
} */

html,
body {
	background-color: #262626;
}

main {
	@apply z-10 relative -top-[2vw] container mx-auto pt-[2.5vh] w-fit max-w-[70vw] h-full flex flex-col flex-grow justify-center pb-[2.5vh] z-0;
}

#__next {
	background-image: url("/bg-noise.svg");
	background-repeat: repeat;
	@apply relative flex flex-col w-full justify-center min-h-screen;
}

a {
	color: inherit;
	text-decoration: none;
	@apply hover:underline;
}

* {
	box-sizing: border-box;
}

